<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".utils.MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.School"
        tools:targetApi="31">
        <activity
            android:name=".activities.StudentLeaveRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TechnicalSupportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SchoolSupportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DayCareAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InitiateMessageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LeaveRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ApplyForLeaveActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HolidaysActivity"
            android:exported="false" />
        <activity
            android:name=".activities.album.DayCareAlbumDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.album.CreateDayCareAlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.album.DayCareAlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AttachmentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FoodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DiaperActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MoodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MedicationAndNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DaycareActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DayCarePlansActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.DiaryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlannerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlannersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlannerCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ViewImageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.album.AlbumDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.album.AlbumsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.album.CreateAlbumsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContentPagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreatedDiaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CalenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ConsentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StudentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="channel" />
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.iprism.school.utils.OneSignalServiceNotifications" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>