<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.School"
        tools:targetApi="31">
        <activity
            android:name=".activities.PlayActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DiaperActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MoodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MedicationAndNotesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NapActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DaycareActivitiesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DayCarePlansActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.DiaryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PdfViewActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlannerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlannersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlannerCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ViewImageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CabsListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.classes.CreateClassActivity"
            android:exported="false" />
        <activity
            android:name=".activities.subjects.AddSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Messages.Msg_DetailPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Messages.SentMessagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.circular.EditConsentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PendingRequestDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PendingRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MessageInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Messages.MessageDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChildHandOverActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.album.AlbumDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HelpTutorialsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.album.AlbumsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.album.CreateAlbumsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InviteParentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ContentPagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SessionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClassTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClassesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UpdateClassSubjectsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateClassSubjectsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ClassSubjectsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.subjects.SubjectsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditRightsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditStaffDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GroupsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FillHealthDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FillOtherDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FillParentDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FillPersonalDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FillSchoolDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeedBackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PromotionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RatingsAndReviewsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreatedDiaryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SetActivityIconActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.calender.EditCalenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.calender.CalenderDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.calender.CreateCalenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.calender.CalenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StaffAttendanceEmailReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StaffAttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditMealPlannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateMealActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MealPlannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.circular.ConsentEmailReportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.circular.ConsentInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.circular.SingleConsentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StaffActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateStaffActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.circular.CreateConsentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.circular.ConsentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StudentDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.StudentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Messages.MessageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>