<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.School"
        tools:targetApi="31">
        <activity
            android:name=".activities.MessageInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MessageDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChildHandOverActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AlbumDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HelpTutorialsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateAlbumsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InviteParentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ContentPagesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SessionsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ClassTransferActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ClassesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UpdateClassSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateClassSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ClassSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditRightsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditStaffDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateGroupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GroupsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FillHealthDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FillOtherDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FillParentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FillPersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FillSchoolDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PromotionsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RatingsAndReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DayCareReportsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DiaryDeliveryReportsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreatedDiaryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DaycareEmailReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SetActivityIconActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DaycareReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditCalenderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CalenderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateCalenderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CalenderActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffAttendanceEmailReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffAttendanceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditMealPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateMealActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MealPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConsentEmailReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConsentInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditConsentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SingleConsentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StaffActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateStaffActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateConsentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConsentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.StudentsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>